
:root {
    --dark-grey: #090909;
    --dark-blue: #28293E;
    --blue: #2A496E;
    --grey: #626262;
    --light-grey: #e3e3e3;
    --light-blue: #2980FF;
    --white: #fff;
    --black: #000;
  }
  
body {
    margin: 0;
    padding: 0;
    font-family: 'OpenSans', sans-serif;
    color: var(--dark-grey);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.menu li {
    margin: 28px auto;
    font-size: 16px;
    font-weight: 600;
}

section {
    padding: 24px 0;
    text-align: center;
}

section p.description {
    font-size: 16px;
    line-height: 32px;
    color: var(--grey);
}

section h2 {
    font-size:26px;
    font-weight: 700; 
}



div.container {
    max-width: 90%;
    margin: auto;
    height: 100%;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 18px;
}

.social-icons .social-icon {
    width: 38px;
    height: 38px;
    background-color: var(--blue);
    margin: 0 4px;
    border-radius: 20px;
}

.social-icons .social-icon a {
    text-decoration: none;
}

.social-icons .social-icon img {
    max-width: 90%;
    height: auto;
}




header {
    background-color: var(--dark-blue);
    height: 78px;
}


header .container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header nav {
    padding: 10px;
    border: 1px solid white;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul {
    display: none;
}

header nav img {
    filter: invert(1);
    width: 17px;
    height: auto;
}

section.hero {
    background-color: var(--dark-blue);
    padding-bottom: 0;
}

section.hero .container {
    display: flex;
    flex-direction: column;
}

.hero-image {
    text-align: center;
    position: relative;
    height: 300px;
    width: 100%;
}

.hero-image .image {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2; 
}

.hero-image .image img {
    max-height: 100%;
}

.hero-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    z-index: 1;
    background-color: #fff;
    opacity: 0.3;
}

.hero-content {
    margin: 24px auto;
    background-color: var(--dark-blue);
    text-align: center;
    color: #fff;
}

.hero-content h1 {
    font-size: 36px;
    margin: 0 auto;
}

.hero-content h2 {
    font-size: 14px;
    font-weight: 400;
    color: var(--light-blue);
    letter-spacing: 2px;
    margin-bottom: 24px;
}


.hero-content p {
    max-width: 300px;
    margin: auto;
    line-height: 32px;
}

section.skills {
    background-color: var(--dark-blue);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skills .skill {
    font-size: 14px;
    font-weight: 700;
    background-color: var(--white);
    width: 100px;
    height: 100px;
    border-radius: 50px;
    color: var(--dark-grey);
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.experience ul {
    display: flex;
    flex-direction: column;
}

section.experience ul li {
    border: 1px solid var(--light-grey);
    border-radius: 6px;
    padding: 24px;
    box-sizing: border-box;
    margin: 12px auto;
    width: 100%;
    
}

section.experience ul li h3 {
    font-size: 18px;
    
}

section.experience ul li p {
    font-size: 16px;
    line-height: 32px;
    color: var(--grey);
}

section.experience .tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section.experience .tags .tag {
    color: var(--white);
    background-color: var(--dark-blue);
    padding: 2px 4px;
    border-radius: 4px;
    margin: 4px;
}

ul.project-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul.project-list li {
    height: 428px;
    margin: 12px auto;
    width: 100%;
    position: relative;
    border-radius: 8px;
}

ul.project-list li::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    border-radius: 8px;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.0) 0%,
      rgba(0, 0, 0, 0.2) 50%,
      rgba(0, 0, 0, 0.5) 60%,
      rgba(0, 0, 0, 0.9) 80%,
      rgba(0, 0, 0, 1) 100%
    );
}

ul.project-list li .content {
    position: absolute;
    bottom: 24px;
    left: 0;
    width: 100%;
    z-index: 1;
}

ul.project-list li h3 {
    color: var(--white);
    font-size: 28px;
    font-weight: 700;
    margin: 0;
}

ul.project-list p {
    color: var(--light-blue);
    margin: 0;
    margin-top: 6px;
    font-size: 14px;
    letter-spacing: 3px;
}

section.contact {
    background-color: var(--dark-blue);
    color: var(--white);   
    padding: 50px; 
}

section.contact h2 {
    font-size: 24px;
}

section.contact p {
    color: var(--light-grey);    
}

button.contact {
    background-color: var(--light-blue);
    color: var(--white);   
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 4px;
}

footer {
    padding: 24px 0;
    text-align: center;
}

footer hr {
    width: 130px;
    margin-top: 32px;
    background-color: var(--light-grey);
    height: 1px;
    border: none;
}

footer .copyright {
    color: var(--grey);
    font-size: 16px;
    font-weight: 300;
}

/* *********************************
Styles for TABLET
********************************* */ 
@media (min-width: 768px) { 

    div.container {
        max-width: 720px;
    }

    section p.description {
        max-width: 510px;
        margin: auto;
    }

    header nav {
        padding: 0px;
        border: none;
        border-radius: 0;
        width: 100%;
        color: var(--white);
    }

    header ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header ul li {
        margin: 0 8px;
        
    }

    
    header nav img {
        display: none;
    }


    section.hero .container {
        flex-direction: row-reverse;
    }

    section.hero .container > div {
        flex: 50%;
    }



    .hero-content {
        text-align: left;
    }

    .hero-content h1 {
        font-size: 40px;
    }

    .hero-content h2 {
        font-size: 16px;
    }

    .hero-content p {
        margin: 0;
    }

    .hero-image {
        width: 50%;
    }
    .social-icons {
        justify-content: flex-start;
    }

    section.experience ul {
        flex-wrap: wrap;
        flex-direction: row;
    }
    
    section.experience ul li {
        max-width: 48%;
    }

    ul.project-list {
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    ul.project-list li {
       max-width: 30%;
       margin: 8px;
       height: 340px;
    }

    section.contact h2 {
        max-width: 400px;
        margin: auto;
    }
    
    section.contact p {
        max-width: 400px;   
        margin-bottom: 14px;
    }

    footer ul.menu {
        flex-direction: row;
        display: flex;
        max-width: 600px;
        margin: auto;
    }

    footer .social-icons {
        justify-content: center;
    }

 }


 /* *********************************
Styles for DESKTOP
********************************* */ 
@media (min-width: 992px) { 

    div.container {
        max-width: 960px;
    }

    header ul {
        justify-content: flex-end;
        width: 100%;
    }

    .hero-content h1 {
        font-size: 54px;
    }

    .hero-content h2 {
        font-size: 18px;
    }

    .hero-content p {
        font-size: 18px;
        max-width: 90%;
    }

    section h2 {
        font-size: 32px;
    }

    section p.description {
        font-size: 18px;
    }

    section.experience ul li {
        max-width: 32%;
    }

    section.experience ul li h3 {
        font-size: 24px;
    }

    section.experience ul li p {
        font-size: 18px;
    }

    ul.project-list li {
        max-width: 32%;
        margin: 12px auto;
    }

    section.contact {
        box-sizing: border-box;
        max-width: 960px;
        margin: auto;
    }


}